@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body>header {
    background-color: #046DD5;
    color: white;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 1em;
}

body>header a {
    color: white;
    text-decoration: none;
}

#signup a:first-child::after {
    content: '';
    margin: 0 1em;
    border-right: 1px solid white;
}

body>header>* {
    margin: 0.1em;
    padding: 0.1em;
}

body>header>h1 {
    font-size: 28px;
}

body>header>h2 {
    font-size: 15px;
}

body>header>div {
    font-size: 13px;
}

#menu>ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#hamburger {
    display: none;
}

#menu {
    background-color: white;
}

#news>article {
    background-color: white;
}

#menu li>a {
    text-decoration: none;
    color: black;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

#menu ul li:nth-child(1) {
    border-top: 5px solid #E1493E;
    padding: 1em;
}

#menu ul li:nth-child(2) {
    border-top: 5px solid #8ABA56;
    padding: 1em;
}

#menu ul li:nth-child(3) {
    border-top: 5px solid #5B4282;
    padding: 1em;
}

#menu ul li:nth-child(4) {
    border-top: 5px solid #FF8932;
    padding: 1em;
}

#menu ul li:nth-child(5) {
    border-top: 5px solid #19B6E9;
    padding: 1em;
}

#menu ul li:nth-child(6) {
    border-top: 5px solid #E84C8B;
    padding: 1em;
}

#related {
    margin: 0;
    padding: 1em;
    color: white;
    background-color: #2A2F33;
}

#related h1>a {
    text-decoration: none;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
}

#related p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

#news>article>img {
    width: 100%;
}

#news>article {
    position: relative;
    margin: 1em 0;
}

#news>article>header {
    position: absolute;
    padding: 1em;
    width: 15%;
    margin: 1em;
}

#news>article p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 1em;
}

#news>article p:nth-child(3)::first-letter {
    font-size: 30px;
}

#news>article>footer {
    background-color: #F4655F;
    padding: 1em;
}

#news header a {
    text-decoration: none;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    text-shadow: 5px 5px 6px black;
}

body>footer {
    background-color: #2A2F33;
    padding: 0.5em;
    color: white;
}

#news footer>span {
    color: white;
    font-size: 13px;
    font-family: 'Verdana', sans-serif;
}

#news footer a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: 'Verbana', sans-serif;
    border-bottom: 1px solid white;
}

#news footer span:nth-child(3) {
    padding: 1em;
}

#news footer>a::after {
    content: " comments";
}